.got-header {
  font-family: "Cinzel", serif;
  font-size: 36px;
  color: white;
}

.got-subheader {
  font-size: 24px;
}

.card-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form {
  color: white;
}

.form-table {
 font-size: 12px;
 
}

/* .form-table tr th {
  padding-top: 7.5px;
}
.form-table th,
td {
  vertical-align: top;
  border-spacing: 5em;
  width: 25%;
} */

.card-input {
  color: white;
  background: rgb(101, 101, 101);
  /* border-radius: 10px; */
  border: none;
  width: 150px;
  height: 30px;
}

.quote-input {
  background-color: rgb(101, 101, 101);
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 100px;
}

.card-select {
  background: rgb(101, 101, 101) !important;
  color: white;
  border: none;
  background: white;
  width: 150px;
  height: 30px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.card-front {
  background: white;
  border-top: solid white 10px;
  border-left: solid white 10px;
  margin: 10px;
  width: 240px;
  height: 336px;
  box-shadow: 2.5px 2.5px 2.5px black;
  vertical-align: middle;
}

.char-img {
  width: 230px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
}

.char-title {
  color: black;
  padding: 5px;
}

.char-name {
  font-size: 18px;
}

.card-back {
  background: linear-gradient(white 75%, black 25%);
  display: grid;
  grid-template-rows: 25% 50% 25%;
  margin: 10px;
  width: 336px;
  height: 240px;
  box-shadow: 2.5px 2.5px 2.5px black;
  vertical-align: middle;
}

.char-title {
  font-size: 24px;
}

.nickname {
  font-size: 12px;
}

.char-bio {
  font-size: 10px;
  display: flex;
  flex-flow: column;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.spouse-status {
  font-size: 8px;
}

.bio-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.bio-table tr th {
  padding-top: 7.5px;
}
.bio-table th,
td {
  vertical-align: top;
  border-spacing: 5em;
  width: 25%;
}

.char-quote {
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  color: white;
}

.stark-f {
  background: #d4cdb1;
  border-top: solid #7b906f 10px;
  border-left: solid #7b906f 10px;
}

.stark-b {
  background: url("./images/stark.png") center no-repeat,
    linear-gradient(#d4cdb1 75%, #7b906f 25%);
  background-size: contain;
}

.targaryen-f {
  background: #a9181f;
  border-top: solid black 10px;
  border-left: solid black 10px;
}

.targaryen-b {
  background: url("./images/targaryen.png") center no-repeat,
    linear-gradient(#a9181f 75%, black 25%);
  background-size: contain;
}

.lannister-f {
  background: #c2ad78;
  border-top: solid #87090a 10px;
  border-left: solid #87090a 10px;
}

.lannister-b {
  background: url("./images/lannister.png") center no-repeat,
    linear-gradient(#c2ad78 75%, #87090a 25%);
  background-size: contain;
}

.greyjoy-f {
  background: #b49022;
  border-top: solid black 10px;
  border-left: solid black 10px;
}

.greyjoy-b {
  background: url("./images/greyjoy.png") center no-repeat,
    linear-gradient(#b49022 75%, black 25%);
  background-size: contain;
}
