body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {  
    padding: 10px;
    margin: 0px;
    min-height: 504.25px; 
}

.card {
    opacity: 0.85;
}

#stats {
    padding: 0;
}

input {
    padding: 0;
}