.got-container {
    font-family: 'Cinzel', serif;
    text-align: center;
    background-color: #282c34;
    padding: 50px;
    /* height: 700px;
    overflow:scroll;
    overflow-x:hidden; */
  }
  
